<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Rboard.repository.MybatisArticleRepository">

    <resultMap id="articleMap" type="com.example.Rboard.domain.Article">
        <result property="articleId" column="article_id"/>
        <result property="articleType" column="article_type"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContents" column="article_contents"/>
        <result property="registerId" column="register_id"/>
    </resultMap>

    <insert id="create" >
        insert ARTICLE(ARTICLE_TYPE, ARTICLE_TITLE, ARTICLE_CONTENTS, REGISTER_ID)
        Values(#{article.articleType},#{article.articleTitle},#{article.articleContents},#{registerId});
    </insert>

    <select id="select" resultMap="articleMap">
        select ARTICLE_ID , ARTICLE_TYPE, ARTICLE_TITLE, ARTICLE_CONTENTS, REGISTER_ID
        from ARTICLE
        where ARTICLE_ID = #{article.articleId};
    </select>

    <select id="selectAll" resultMap="articleMap">
        select ARTICLE_ID , ARTICLE_TYPE, ARTICLE_TITLE, ARTICLE_CONTENTS, REGISTER_ID
        from ARTICLE
        <trim prefix="WHERE">
            <if test="registerId != null and registerId != ''">
                register_id = #{registerId}
            </if>
        </trim>
    </select>

    <update id="update">
        UPDATE ARTICLE
        SET REGISTER_ID = #{registerId}
        <if test="article.articleTitle != null">
            ,ARTICLE_TITLE = #{article.articleTitle}
        </if>
        <if test="article.articleContents != null">
            ,ARTICLE_CONTENTS = #{article.articleContents}
        </if>
        <if test="article.articleType != null">
            ,ARTICLE_TYPE = #{article.articleType}
        </if>
        WHERE ARTICLE_ID = #{article.articleId}
    </update>

    <delete id="delete">
        DELETE FROM ARTICLE
        WHERE ARTICLE_ID = #{articleId}
    </delete>

</mapper>